{% extends "base.html.twig" %}

{% block body %}
    <h1>Nous écrire</h1>
    <form action="" method="post">
        <input type="text" name="name">
        <input type="text" name="email">
        <textarea name="message" cols="30" rows="10"></textarea>
        <button type="submit" role="button">Envoyer</button>
    </form>
{% endblock %}
